.footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  width: 100vw;
  /* height: clamp(60px, 8%, 8%); */
  height: 4rem;
  z-index: 999;
  overflow: hidden;
}
.footer-container {
  height: clamp(60px, 8%, 8%);
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-bg-image {
  position: absolute;
  top: -50%;
  right: 0;
  height: 100px;
  opacity: 20%;
}

.footer-item {
  height: 70%;
}
.footer-item img {
  height: 100%;
}
