.product-images {
  position: relative;
  width: 100%;

  overflow: hidden;
}
.product-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.carousel-image img {
  height: 55vh;
  object-fit: cover;
}

.ratings {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;

  border-radius: 100px;
  background-color: whitesmoke;
  font-weight: 500;
  font-size: 0.75rem;
}
.product-details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.product-title {
  font-size: 1.2rem;
  font-weight: 200;
}
.product-price {
  width: fit-content;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.current-price {
  font-size: 1.3rem;
  font-weight: 800;
  color: rgb(31, 31, 31);
}

.old-price {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 200;
  color: rgb(76, 75, 75);
  text-decoration: line-through 1px;
}

.discount-perc {
  padding-left: 0.5rem;
  font-weight: 500;
  color: #24ce24;
}
.product-taxes {
  font-size: 0.9rem;
  color: rgb(123, 202, 107);
}
.product-color-options {
  height: fit-content;
}
.product-color-options {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.color-option {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.474);
}

.color-red {
  background-color: lightcoral;
  background: linear-gradient(
    45deg,
    lightcoral,
    lightcoral 50%,
    rgb(255, 64, 64) 50%,
    rgb(255, 64, 64)
  );
}
.color-green {
  background-color: lightgreen;
  background: linear-gradient(
    45deg,
    lightgreen,
    lightgreen 50%,
    rgb(54, 216, 54) 50%,
    rgb(54, 216, 54)
  );
}
.color-blue {
  background-color: paleturquoise;
  background: linear-gradient(
    45deg,
    paleturquoise,
    paleturquoise 50%,
    rgb(30, 193, 193) 50%,
    rgb(30, 193, 193)
  );
}

.product-color-options p {
  font-size: 0.75rem;
  text-align: center;
}

.page-divider {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.placeholder {
  height: 100vh;
  /* background-color: red; */
}

.description {
  display: flex;
  flex-direction: column;
  color: rgb(64, 64, 64);
}
